extends layout

block content
    h1= title
    p Welcome to demo do Cartola Watson para video com integração via Toolchain no Bluemix
    select(ng-model='posicao', ng-options='j as j[1] for j in posicoes',ng-change="filtrar()")
    table.table.table-hover.table-bordered(data-role='table', data-mode='columntoggle', data-filter='true', data-input='#basic-url')
      tbody
          tr
              th 
                a(href='#', ng-click="toggleSort('nome')") Nome
                    span(ng-show="sorter == 'nome'")
                      span(ng-show='!sortReverse') ^
                      span(ng-show='sortReverse') v
              th 
                a(href='#', ng-click="toggleSort('apelido')") Apelido
                    span(ng-show="sorter == 'apelido'")
                      span(ng-show='!sortReverse') ^
                      span(ng-show='sortReverse') v
              th Foto
              th 
                a(href='#', ng-click="toggleSort('preco_num')") Valor
                    span(ng-show="sorter == 'preco_num'")
                      span(ng-show='!sortReverse') ^
                      span(ng-show='sortReverse') v
              th 
                a(href='#', ng-click="toggleSort('variacao_num')") Variação
                    span(ng-show="sorter == 'variacao_num'")
                      span(ng-show='!sortReverse') ^
                      span(ng-show='sortReverse') v
              th 
                a(href='#', ng-click="toggleSort('media_num')") Media
                    span(ng-show="sorter == 'media_num'")
                      span(ng-show='!sortReverse') ^
                      span(ng-show='sortReverse') v
              th Jogos
              th Posicao
              th Status
          tr(ng-repeat='jogador in players | orderBy:sorter:sortReverse')
              td {{jogador.nome}}
              td {{jogador.apelido}}
              td
                img.img-responsive(ng-src="{{jogador.foto.replace('FORMATO','80x80')}}" alt="{{position._id}}" style='width:80px;height:80px;')
              td {{jogador.preco_num}}
              td {{jogador.variacao_num}}
              td {{jogador.media_num}}
              td {{jogador.jogos_num}}
              td {{jogador.posicao_id}}
              td {{jogador.status_id}}
