doctype html
html(ng-app='CartolaWatsonApp' ng-controller='CWCtrl')
  head
    title= title
    script(src='/javascripts/lib/angular.min.js')
    script(src='/javascripts/app.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/javascripts/lib/jquery-1.10.2.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
